.container {
	width: 1903px;
	height: 410px;
	background-image: linear-gradient(to right, #E2BCBB, #E4514A);
	}
 nav {
	 float:inherit;
}
 nav li {
	 display: inline-block;
}
 body {
	 background: black;
}
 a {
	 color: #1e0cbd
}
img.fig {
    float: left;
}
img.fig2 {
    float: right;
}
img.fig3 {
    float: left;
}
img.fig4 {
    float: right;
}